.WeatherForecast {
  text-align: center;
  margin-top: 40px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}

.WeatherForecast-image {
  max-height: 50px;
  max-width: 50px;
}

@media (max-width: 900px) {
  .WeatherForecast {
    font-size: 12px;
  }

  .WeatherForecast-image {
    max-height: 38px;
    max-width: 38px;
  }
}
